@import "tailwindcss";

:root {
    --primary: #0450cb;
    --secondary: #fdc700;
    --background: #e0e0e0;
    --background-fade: #ddebff;
    --text: #120011;
}

@theme inline {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-background: var(--background);
    --color-background-fade: var(--background-fade);
    --color-text: var(--text);
}

@layer base {
    * {
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
}

/* ?? ===========================|| COMPONENTS STYLES ||=========================== */
@layer components {
    .btn {
        @apply bg-primary hover:bg-primary/90 text-white font-bold px-8 py-3.5 rounded-full text-sm tracking-wider uppercase transition-all hover:scale-105 hover:shadow-xl hover:shadow-primary/35 flex items-center gap-2;
    }
    .btn-ghost {
        @apply bg-primary hover:bg-primary/90 text-white font-bold px-8 py-3.5 rounded-full text-sm tracking-wider uppercase transition-all hover:scale-105 hover:shadow-xl hover:shadow-primary/35 flex items-center gap-2;
    }
    .btn-secondary {
        @apply bg-secondary hover:bg-secondary/90 text-white font-bold px-8 py-3.5 rounded-full text-sm tracking-wider uppercase transition-all hover:scale-105 hover:shadow-xl hover:shadow-secondary/35 flex items-center gap-2;
    }

    .text-primary {
        @apply text-primary;
    }
}

